/* body styles:
hero and footer color: 1F2937
hero main text: 48px, extra-bold, f9faf8
hero secondary: 18px, e5e7eb
header logo: 24px f9faf8
button color, call to action: 3882f6
info header text: 36px extra-bold, 1F2937
quote background: e5e7eb
quote text: 36px light italic, 1f2937 */

body {
    font-family: 'Roboto', sans-serif;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: #1f2937;
    color: white;
}

.quote {
    background-color: #e5e7eb;
}

.call-to-action {
    background-color: #3882f6;
}

.footer {
    background-color: #1f2937;
    color: white;
}